[Unit]
Description=Frunch Room Display
Wants=graphical.target
After=graphical.target

[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
Type=simple
ExecStart=/home/pi/frunch-room/bin/launch.sh
WorkingDirectory=/home/pi/frunch-room/
Restart=on-abort
User=pi
Group=pi

[Install]
WantedBy=graphical.target
